@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
    background-color: black;
    font-family: "Coming Soon";
}

/* CONTAINER 1  ------------------------------------------------------------------- */

.container {
  width: 40vw;
  height: 30vw;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw;
}

.container img {
    width: 5vw;
    height: 5vw;
}

.box1 h1 {
    font-size: 3vw;
    margin: 0;
}

.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TEXTOS & INPUTS ------------------------------------------------------------------------------ */

.container2 {
    display: flex;
    justify-content: space-between;
}

.box2 {
    width: 50%;
    height: auto;
}

.box2 p {
    font-size: 1.65vw;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 2vw;
}

.box3 input {
    border: none;
    border-bottom: 1px black solid;
    width: 17vw;
}


/* CONTAINER 3 ------------------------------------------------------------------- */


.container3 {
    text-align: center;
    margin-top: 2vw;
}

/* NUESTRO BOTON DE ENVIAR EL FORM ------------------------------------------------------------------- */
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #072577;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: sans-serif;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: white;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  /* usamos flexbox.help y chat gpt neumorphism.io  supabase vercel*/